@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5 0.134 242.749);
  --primary-foreground: oklch(0.977 0.013 236.62);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.845 0.143 164.978);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.596 0.145 163.225);
  --chart-4: oklch(0.508 0.118 165.612);
  --chart-5: oklch(0.432 0.095 166.913);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.588 0.158 241.966);
  --sidebar-primary-foreground: oklch(0.977 0.013 236.62);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.443 0.11 240.79);
  --primary-foreground: oklch(0.977 0.013 236.62);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.845 0.143 164.978);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.596 0.145 163.225);
  --chart-4: oklch(0.508 0.118 165.612);
  --chart-5: oklch(0.432 0.095 166.913);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.685 0.169 237.323);
  --sidebar-primary-foreground: oklch(0.293 0.066 243.157);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-ibm);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --font-heading: var(--font-heading);

  --color-bank-gradient: #0179fe;

  --color-indigo-500: #6172f3;
  --color-indigo-700: #3538cd;

  --color-gray-25: #fcfcfd;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  --shadow-chart: 0px 1px 3px rgba(16, 24, 40, 0.1);

  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);

  --color-blue-25: #f5faff;
  --color-black-1: #000000;
  --color-black-2: #344054;

  --shadow-chart: 0px 1px 3px rgba(16, 24, 40, 0.1);
  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-creditCard: 0px 10px 30px rgba(0, 0, 0, 0.05);
  --shadow-form: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 py-7 sm:px-8 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .header-2 {
    @apply text-[18px] font-semibold;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }
  .header-box-subtext {
    @apply text-[14px] font-normal text-gray-400 lg:text-[16px];
  }
  .total-balance-label {
    @apply text-[14px] font-medium text-gray-400;
  }
  .total-balance-amount {
    @apply flex-1 text-[24px] font-semibold lg:text-[30px];
  }
  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-700 p-4 shadow-chart sm:gap-6 sm:p-6;
  }
  .total-balance-chart {
    @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
  }

  .sidebar {
    @apply sticky top-0 left-0 flex h-screen w-fit flex-col justify-between border-r border-gray-700 pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply text-[26px] font-bold text-white max-xl:hidden 2xl:text-[26px];
  }

  .sidebar-link {
    @apply flex items-center justify-center gap-[3px] rounded-lg md:p-3 xl:justify-start 2xl:p-4;
  }

  .sidebar-label {
    @apply text-[16px] font-semibold text-white max-xl:hidden;
  }
}
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root-layout {
  @apply flex h-16 items-center justify-between p-5 shadow-creditCard sm:p-8 md:hidden;
}

.text-26 {
  @apply text-[26px] leading-[32px];
}

.mobilenav-sheet {
  @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
}

.mobilenav-sheet_close {
  @apply flex w-full max-w-60 items-center gap-3 rounded-lg p-4;
}

.right-sidebar {
  @apply no-scrollbar hidden h-screen max-h-screen flex-col border-l border-gray-700 xl:flex xl:min-w-[300px] xl:overflow-y-scroll 2xl:min-w-[355px];
}

.profile-banner {
  @apply h-[120px] w-full bg-cover bg-no-repeat;
  background-image: url("/icons/gradient-mesh.svg");
}
.profile-img {
  @apply absolute top-24 right-45 flex-center size-24 rounded-full border-8 border-white bg-gray-100 px-8 shadow-profile;
}

.profile-details {
  @apply flex flex-col pt-24;
}
.profile-name {
  @apply text-[24px] font-semibold text-white;
}

.profile-email {
  @apply text-[16px] font-normal text-gray-300;
}

/* Bank Card */
.bank-card {
  @apply relative flex h-[190px] w-full max-w-[320px] justify-between rounded-[20px] border border-white shadow-creditCard backdrop-blur-[6px];

  background: linear-gradient(135deg, #0179fe 0%, #4893ff 100%);
}

.bank-card_content {
  @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] px-5 pt-5 pb-4;

  background: linear-gradient(135deg, #0179fe 0%, #4893ff 100%);
}

.bank-card_icon {
  @apply flex size-full flex-1 flex-col items-end justify-between rounded-r-[20px] py-5 pr-5;
}
